
config naiveproxy 'config'
	option enable '0'
	option listen_addr ''
	option server_addr ''
	option extra_argument ''

# Add more instances by declaring more naiveproxy sections.
# Each enabled section starts one independent naive process.
#
# config naiveproxy 'backup'
#	option enable '0'
#	option listen_addr ''
#	option server_addr ''
#	option extra_argument ''
